// Set your brand colors
$slate-blue-light:#7798c2;
$dark-brown:#37312f;
$mushroom: #807b75;
$sand:#dad3c7;
$sky-blue:#67a2ef;
$light-grey:#a7b0b8;
$charcoal:#4b4b55;
$cdark-slate:#2f465f;
$army-brown:#9d6a41;
$powder-blue:#8bccfb;
$medium-slate-blue:#5c71a0;

$primary: #8BD3E6; // Example: change primary color
$link: #3273dc;    // Example: change link color

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  // $grey-dark: $brown,
  // $grey-light: $beige-light,
  // $primary: $purple,
  // $link: $pink,
  // $control-border-width: 2px,
  // $input-shadow: none
);

.my-custom-button {
  background-color: $primary;
  color: #fff;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;   // ensures same size
  font-weight: 600;
}

.box {
  background-color: $sand;
}

.container {
  background-color: $slate-blue-light;
}

.equal-buttons {
  display: flex;
  gap: 0.5rem;

  .button {
    flex: 1;     // each button takes equal width
  }
}

.rounded-image {
  border-radius: 25px;   /* adjust to taste */
  overflow: hidden;      /* ensures the rounding clips the image */
}


// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");